body {
    background: #fff;
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-weight: lighter;
  }

hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}


a:link {
  color: #0059FF;
  text-decoration: none;
  font-weight: normal;
}

a:hover {
  color: #FFA500;
  text-decoration: none;
  font-weight: normal;
}

p {
	font-family: "Avenir";
  font-size: 14px;
  text-align: "justify";
}

 h2, h3 {
  font-family: 'Lucida Sans Unicode';
  font-size: 20px;
  color:black;
 }


#container {
  width: 600px;
  margin: 0 auto;
  padding-top: 70px;  
}

#container_wide {
  width: 800px;
  margin: 0 auto;
  padding-top: 70px;  
}

div.footer { 
  border-top: 1px dotted #ddd; padding-top: 9px;
  margin-top: 42px; font-size: 16px; color: #888;
  text-align: center; }

 #navigation {
  position: fixed;
  top: 0px;
  width: 100%;
  color: #ffffff;
  height: 35px;
  text-align: left;
  padding-top: 15px;
  padding-left: 60px;
  /* Adds the transparent background */
  background-color: rgba(1, 1, 1, 0.8);
  color: rgba(1, 1, 1, 0.8);
}

#navigation a {
  font-size: 18px;
  padding-left: 0px;
  padding-right: 20px;
  color: white;
  text-decoration: none;
  font-family: 'Avenir', sans-serif;
}

#navigation a:hover {
  color: grey;
} 

#footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 3em;
 margin-top: -3em;
}

table {
  padding-bottom: 15px;
}

table.teaching {
  font-family: "Avenir";
  font-size: 16px;
  text-align: "justify";
  table-layout:fixed;
  border-spacing: 15px;

}

table.teaching td {    
	padding:0 20px 0 15px;
}

a.resourcelink {
  color:#FF4500; 
  cursor: pointer; 
  hover: #0087ff
}

